{% extends 'base.html.twig' %}

{% block title %}Formulaire Restaurant{% endblock %}


{% block body %}
<h1>Activité</h1>
{{ form_start(RestaurantForm) }}
        

        <button type="submit" class="btn">Validé</button>
    {{ form_end(RestaurantForm) }}
{% endblock %}
