{% extends 'base.html.twig' %}

{% block title %}Hello VoyageFormController!{% endblock %}

{% block body %}
<h1>Voyage</h1>
{{ form_start(VoyageForm) }}
       
    {{ form_end(VoyageForm) }}
{% endblock %}
