{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}

<div class="intro_survey">
    <h1>Questionnaire<h1>
    <div>
        <p>Le questionnaire vous permet des recommendation de voyages, d'activités, de restaurants, d'hébergements selon vos propres critères.</p>
        <p>Grâce à cela MYOR vous fournira le meilleur endroit selon vos préférences.</p>
    </div>
    <a href="{{path('surveyquestion1') }}" class="intro_survey_first_button">Commencer</a>
    <a href="{{path('home') }}" class="intro_survey_second_button">Plus tard</a>
</div>
{% endblock %}
