{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Questionnaire<h1>
    <a href="{{path('surveyquestion1') }}">Suivant</a>
    <a href="{{path('home') }}">Plus tard</a>
</div>
{% endblock %}
