/*  ------------- Style de la page de souscription --------------  */

.bacground_subscription{
display: flex;
flex-direction: row;
align-items: center;
padding: 120px;

position: absolute;
width: 1440px;
height: 644px;
left: 0px;
top: 0px;

background: linear-gradient(90.1deg, #FFFCF7 18.7%, rgba(255, 252, 247, 0.9035) 29.73%, rgba(255, 252, 247, 0.1) 62.89%), url(images/Snow_road.png);
}

.title_subscription{
    position: static;
    width: 269px;
    height: 70px;
    left: 0px;
    top: 0px;

    font-family: Oceanwide;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 70px;

    color: #3D3E41;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}

.global_two_question_subscription{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.firstname_subscription{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 24px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    
    position: static;
    width: 183px;
    height: 46px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

.lastname_subscription{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 24px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    
    position: static;
    width: 183px;
    height: 46px;
    right: 0px;
    top: 0px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

.big_area_subscription{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 24px;
    
    position: static;
    width: 387px;
    height: 64px;
    left: 0px;
    top: 54px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.global_two_question_subscription2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn_subscrition{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: static;
    width: 387px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, #FACE32, #FACE32), linear-gradient(0deg, #AAA7C7, #AAA7C7), #6C65B3 url(.jpg);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}