{% extends 'base.html.twig' %}

{% block title %}intégration activity{% endblock %}

{% block body %}

<body>


    <header id="header-activites">
        <div class="container-fluid">

            <div class="fond-nav">
                <!-- FOND NAV -->
                <div class="col-lg-10 offset-lg-1">
                    <!-- container header -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent float-right pt-4">
                        <!-- BARRE NAV -->

                        <a href="{{ path('home') }}">
                            <!--LOGO-->
                            <img src="style/images/logo.svg" alt="" width="70">
                        </a>

                        <!-- <a class="navbar-brand" href="#"></a> -->

                        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

                        <div class="col-lg-9 offset-lg-1">

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active text-white me-5" aria-current="page"
                                            href="accueildestination.html">Destination</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white me-5" href="accueilactivites.html">Activités</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white me-5" href="maps.html">Maps</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <a href="backpack.html">
                            <!-- LOGO BACKPACK -->

                            <svg class="backpack me-5" width="33" height="32" viewBox="0 0 33 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M22.4989 16.9062H10.5632C10.1056 16.9062 9.73438 17.2774 9.73438 17.7351V23.8226C9.7353 24.626 10.0549 25.3963 10.6229 25.9643C11.1912 26.5323 11.9612 26.8519 12.7647 26.8529H20.2973C21.1007 26.852 21.8709 26.5323 22.4391 25.9643C23.0071 25.3963 23.3267 24.626 23.3277 23.8226V17.7286C23.324 17.2735 22.9541 16.9062 22.4989 16.9062ZM21.6701 23.8226C21.6691 24.1863 21.5241 24.5348 21.267 24.792C21.0098 25.0494 20.6613 25.1942 20.2975 25.1951H12.7649C12.4011 25.1942 12.0526 25.0494 11.7954 24.792C11.5382 24.5349 11.3932 24.1864 11.3923 23.8226V18.5642H21.6702L21.6701 23.8226Z"
                                    fill="#FFFFFF" stroke="#FFFFFF" />
                                <path
                                    d="M27.3978 16.3607H26.9204V13.7613C26.92 12.3383 26.3647 10.9717 25.3721 9.95182H26.5888C27.1307 9.95182 27.6501 9.73674 28.0331 9.35374C28.4161 8.97073 28.6312 8.45134 28.6312 7.90944V5.03179C28.6312 4.49016 28.4161 3.97048 28.0331 3.58749C27.6501 3.20449 27.1307 2.9894 26.5888 2.9894H22.166V1.82887C22.166 1.37118 21.7951 1 21.3372 1C20.8795 1 20.5083 1.37118 20.5083 1.82887V2.9894H12.5512V1.82887C12.5512 1.37118 12.18 1 11.7223 1C11.2644 1 10.8934 1.37118 10.8934 1.82887V2.9894H6.47066C5.92879 2.9894 5.40935 3.20448 5.02635 3.58749C4.64336 3.97049 4.42827 4.49012 4.42827 5.03179V7.90967V7.90944C4.42827 8.4513 4.64335 8.97075 5.02635 9.35374C5.40936 9.73674 5.92875 9.95183 6.47066 9.95183H7.57796C6.58534 10.9718 6.02988 12.3383 6.02964 13.7613V16.3605L5.58861 16.3607C3.06572 16.3607 1 18.5423 1 21.2245V26.0287C1.00093 26.6887 1.26341 27.3215 1.73035 27.7882C2.19705 28.2551 2.82978 28.5176 3.49009 28.5186H6.05278C6.12354 29.0676 6.39182 29.5722 6.80716 29.9383C7.22252 30.3044 7.75699 30.5068 8.31067 30.5079H24.6429C25.1968 30.5074 25.7315 30.3053 26.1471 29.9392C26.5627 29.5729 26.8307 29.068 26.9007 28.5185H29.5099C30.1702 28.5176 30.8029 28.2551 31.2696 27.7882C31.7363 27.3215 31.9991 26.6888 32 26.0287V21.2245C32 18.5422 29.9343 16.3607 27.398 16.3607L27.3978 16.3607ZM27.3978 18.0185C29.0224 18.0185 30.3418 19.4574 30.3418 21.2245V22.2192H27.1922L27.1924 18.0185H27.3978ZM26.5888 4.64707C26.8013 4.64707 26.9734 4.81914 26.9734 5.03167V7.90956V7.90933C26.9734 8.12186 26.8013 8.29393 26.5888 8.29393H22.166V4.64703L26.5888 4.64707ZM20.5084 4.64707V8.29397H12.5513V4.64707H20.5084ZM6.08615 7.90938V5.03173C6.08615 4.81919 6.25821 4.64713 6.47075 4.64713H10.8935V8.29402H6.47075C6.25822 8.29402 6.08615 8.12196 6.08615 7.90942V7.90938ZM5.58869 18.0186H5.79429V22.2194H2.6578V21.2247C2.6578 19.4575 3.98067 18.0186 5.58868 18.0186H5.58869ZM3.49018 26.8608C3.03042 26.8608 2.65782 26.4883 2.65782 26.0287V23.877H5.80745V26.8608L3.49018 26.8608ZM25.2628 28.2302H25.2625C25.2625 28.3946 25.1973 28.5523 25.081 28.6684C24.9646 28.7848 24.8069 28.8502 24.6425 28.8502H8.31025C7.96774 28.8502 7.6902 28.5725 7.6902 28.2302V13.7611C7.69158 12.8559 8.01421 11.9803 8.60071 11.2907C9.1872 10.6008 9.99966 10.1417 10.8931 9.99484V13.1015C10.8931 13.5592 11.264 13.9304 11.7219 13.9304C12.1796 13.9304 12.5508 13.5592 12.5508 13.1015V9.95162H20.5079V13.1015C20.5079 13.5592 20.8791 13.9304 21.3368 13.9304C21.7947 13.9304 22.1657 13.5592 22.1657 13.1015V10.0113C23.0366 10.1806 23.8216 10.647 24.3865 11.3309C24.9513 12.015 25.261 12.8741 25.2624 13.7611L25.2628 28.2302ZM29.5095 26.8608H27.1887V23.877H30.3384V26.0288C30.3384 26.4869 29.9679 26.859 29.5095 26.8609V26.8608Z"
                                    fill="#FFFFFF" stroke="#FFFFFF" />
                            </svg>
                        </a>


                        <!-- BOUTON BURGER PROFIL -->


                        <button type="button" class="btn btn-light">
                            <svg width="18" height="14" viewBox="0 0 24 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <!-- MENU BUGER -->
                                <path
                                    d="M22.11 6.6H0.99C0.0791999 6.6 0 7.33755 0 8.25C0 9.16245 0.0791999 9.9 0.99 9.9H22.11C23.0208 9.9 23.1 9.16245 23.1 8.25C23.1 7.33755 23.0208 6.6 22.11 6.6ZM22.11 13.2H0.99C0.0791999 13.2 0 13.9375 0 14.85C0 15.7624 0.0791999 16.5 0.99 16.5H22.11C23.0208 16.5 23.1 15.7624 23.1 14.85C23.1 13.9375 23.0208 13.2 22.11 13.2ZM0.99 3.3H22.11C23.0208 3.3 23.1 2.56245 23.1 1.65C23.1 0.73755 23.0208 0 22.11 0H0.99C0.0791999 0 0 0.73755 0 1.65C0 2.56245 0.0791999 3.3 0.99 3.3Z"
                                    fill="black" />
                            </svg>

                            <svg width="30" height="30" viewBox="0 0 40 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="20" cy="20" r="20" fill="#C4C4C4" />
                                <path
                                    d="M34.8464 32.2593C32.7141 28.5317 29.2994 25.736 25.2589 24.4096C27.1946 23.2406 28.6986 21.4589 29.54 19.3382C30.3814 17.2175 30.5136 14.8751 29.9164 12.6708C29.3191 10.4665 28.0254 8.52207 26.234 7.1363C24.4425 5.75052 22.2524 5 20 5C17.7476 5 15.5575 5.75052 13.766 7.1363C11.9746 8.52207 10.6809 10.4665 10.0836 12.6708C9.48635 14.8751 9.61858 17.2175 10.46 19.3382C11.3014 21.4589 12.8054 23.2406 14.7411 24.4096C10.7007 25.7359 7.28595 28.5316 5.15362 32.259C5.07847 32.3908 5.02964 32.5364 5.00991 32.6874C4.99019 32.8384 4.99996 32.9919 5.03867 33.139C5.07738 33.2862 5.14427 33.4242 5.23553 33.5451C5.32678 33.6661 5.4406 33.7676 5.5705 33.8438C5.7004 33.9201 5.84383 33.9697 5.99261 33.9897C6.14138 34.0097 6.29258 33.9998 6.43757 33.9605C6.58257 33.9212 6.71852 33.8533 6.83766 33.7607C6.95681 33.6681 7.05681 33.5526 7.13197 33.4207C8.43652 31.1285 10.3124 29.2252 12.5712 27.9019C14.83 26.5786 17.3921 25.882 20.0001 25.882C22.6082 25.882 25.1703 26.5787 27.429 27.9021C29.6878 29.2254 31.5637 31.1288 32.8682 33.421C32.9433 33.5528 33.0433 33.6684 33.1625 33.761C33.2816 33.8536 33.4175 33.9215 33.5625 33.9608C33.7075 34 33.8587 34.01 34.0075 33.9899C34.1562 33.9699 34.2997 33.9203 34.4296 33.8441C34.5594 33.7678 34.6733 33.6663 34.7645 33.5454C34.8558 33.4244 34.9226 33.2864 34.9613 33.1393C35 32.9921 35.0098 32.8387 34.9901 32.6877C34.9704 32.5367 34.9215 32.3911 34.8464 32.2593ZM12.0008 15.4433C12.0008 13.8375 12.47 12.2678 13.3489 10.9326C14.2279 9.59743 15.4772 8.55679 16.9388 7.94228C18.4004 7.32777 20.0088 7.16698 21.5605 7.48026C23.1121 7.79353 24.5374 8.5668 25.6561 9.70226C26.7748 10.8377 27.5367 12.2844 27.8453 13.8593C28.154 15.4343 27.9955 17.0667 27.3901 18.5503C26.7847 20.0339 25.7594 21.3019 24.444 22.194C23.1285 23.0861 21.582 23.5623 19.9999 23.5623C17.8792 23.5599 15.846 22.7037 14.3464 21.1816C12.8468 19.6595 12.0033 17.5958 12.0008 15.4433V15.4433Z"
                                    fill="black" />
                            </svg>

                        </button>
                    </nav>
                </div>
            </div>
        </div>




        <div>
            <!-- container header -->

            <div class="container">


                <div class="row bio-profil">

                    <div class="col-12 col-lg-3">

                        <img src="style/images/Ellipse 1.png" alt="">
                    </div>

                    <div class="col-12 col-lg-6 col-xl-7 text-white-profil">

                        <h3>Baptême de l'air en Montgolfière</h3>

                        <h4 class="text-white-profil">Antalya - Turquie</h4>

                        <p> By Billy Bob</p>

                    </div>


                    <class
                        class="d-flex flex-column justify-content-end col-sm-5 offset-sm-7 col-md-4 offset-md-8 offset-lg-0 col-lg-3 col-xl-2 text-white-profil">

                        <div class="d-grid">
                            <a href="profil.html" class="btn btn-primary">Ajouter la maps</a>
                        </div>

                        <div class="row">
                            <div class="offset-3 offset-sm-0 col-2 col-sm-4">
                                <svg class="img-force-fluid" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M-0.000244141 14.5782C-0.000244141 21.5385 5.05492 27.3263 11.6664 28.5V18.3885H8.16642V14.5H11.6664V11.3885C11.6664 7.8885 13.9216 5.94483 17.1113 5.94483C18.1216 5.94483 19.2113 6.1 20.2216 6.25517V9.83333H18.4331C16.7216 9.83333 16.3331 10.6885 16.3331 11.7782V14.5H20.0664L19.4446 18.3885H16.3331V28.5C22.9446 27.3263 27.9998 21.5397 27.9998 14.5782C27.9998 6.835 21.6998 0.5 13.9998 0.5C6.29976 0.5 -0.000244141 6.835 -0.000244141 14.5782Z"
                                        fill="#FFFFFF" />
                                </svg>
                            </div>
                            <div class="col-2 col-sm-4">
                                <svg class="img-force-fluid" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M19.5003 14.5006C19.5003 15.6941 19.0262 16.8387 18.1823 17.6826C17.3384 18.5265 16.1938 19.0006 15.0003 19.0006C13.8069 19.0006 12.6623 18.5265 11.8184 17.6826C10.9744 16.8387 10.5003 15.6941 10.5003 14.5006C10.5003 14.2441 10.5273 13.9936 10.5738 13.7506H9.00034V19.7461C9.00034 20.1631 9.33784 20.5006 9.75484 20.5006H20.2473C20.4472 20.5002 20.6387 20.4205 20.7799 20.2791C20.9211 20.1376 21.0003 19.9459 21.0003 19.7461V13.7506H19.4268C19.4733 13.9936 19.5003 14.2441 19.5003 14.5006ZM15.0003 17.5006C15.3944 17.5005 15.7846 17.4228 16.1486 17.2719C16.5127 17.121 16.8434 16.8999 17.122 16.6212C17.4005 16.3424 17.6215 16.0116 17.7722 15.6475C17.9229 15.2834 18.0004 14.8932 18.0003 14.4991C18.0002 14.105 17.9225 13.7148 17.7716 13.3508C17.6207 12.9868 17.3996 12.656 17.1209 12.3775C16.8422 12.0989 16.5113 11.8779 16.1472 11.7272C15.7831 11.5765 15.3929 11.499 14.9988 11.4991C14.203 11.4993 13.4398 11.8156 12.8772 12.3785C12.3146 12.9414 11.9986 13.7047 11.9988 14.5006C11.999 15.2964 12.3154 16.0596 12.8783 16.6222C13.4412 17.1848 14.2045 17.5008 15.0003 17.5006ZM18.6003 11.3506H20.3988C20.5183 11.3506 20.6329 11.3032 20.7176 11.2189C20.8022 11.1345 20.8499 11.0201 20.8503 10.9006V9.10209C20.8503 8.98234 20.8028 8.8675 20.7181 8.78283C20.6334 8.69815 20.5186 8.65059 20.3988 8.65059H18.6003C18.4806 8.65059 18.3658 8.69815 18.2811 8.78283C18.1964 8.8675 18.1488 8.98234 18.1488 9.10209V10.9006C18.1503 11.1481 18.3528 11.3506 18.6003 11.3506ZM15.0003 0.100586C11.1812 0.100586 7.51853 1.61772 4.818 4.31825C2.11748 7.01877 0.600342 10.6815 0.600342 14.5006C0.600342 18.3197 2.11748 21.9824 4.818 24.6829C7.51853 27.3834 11.1812 28.9006 15.0003 28.9006C16.8914 28.9006 18.7639 28.5281 20.511 27.8045C22.2581 27.0808 23.8455 26.0201 25.1827 24.6829C26.5198 23.3458 27.5805 21.7583 28.3042 20.0112C29.0279 18.2641 29.4003 16.3916 29.4003 14.5006C29.4003 12.6096 29.0279 10.737 28.3042 8.98994C27.5805 7.24286 26.5198 5.65541 25.1827 4.31825C23.8455 2.98108 22.2581 1.92039 20.511 1.19672C18.7639 0.473053 16.8914 0.100586 15.0003 0.100586ZM22.5003 20.3341C22.5003 21.2506 21.7503 22.0006 20.8338 22.0006H9.16684C8.25034 22.0006 7.50034 21.2506 7.50034 20.3341V8.66709C7.50034 7.75059 8.25034 7.00059 9.16684 7.00059H20.8338C21.7503 7.00059 22.5003 7.75059 22.5003 8.66709V20.3341Z"
                                        fill="#ffffff" />
                                </svg>

                            </div>
                            <div class="col-2 col-sm-4">
                                <svg class="img-force-fluid" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.4998 0.0625C6.5269 0.0625 0.0622559 6.52715 0.0622559 14.5C0.0622559 22.4729 6.5269 28.9375 14.4998 28.9375C22.4726 28.9375 28.9373 22.4729 28.9373 14.5C28.9373 6.52715 22.4726 0.0625 14.4998 0.0625ZM21.4381 10.9454C21.4478 11.0969 21.4478 11.2548 21.4478 11.4095C21.4478 16.1403 17.8449 21.5898 11.261 21.5898C9.23071 21.5898 7.34868 21.0001 5.76313 19.985C6.05317 20.0172 6.33032 20.0301 6.62681 20.0301C8.30259 20.0301 9.84302 19.4629 11.0708 18.5025C9.49819 18.4703 8.1769 17.4391 7.72573 16.0211C8.27681 16.1017 8.7731 16.1017 9.34028 15.9566C8.53051 15.7921 7.80267 15.3523 7.28041 14.712C6.75815 14.0717 6.47369 13.2703 6.47534 12.4439V12.3988C6.94907 12.6663 7.50659 12.8307 8.08989 12.8532C7.59954 12.5264 7.1974 12.0837 6.91914 11.5643C6.64087 11.0448 6.49508 10.4648 6.49468 9.87549C6.49468 9.2084 6.6687 8.59932 6.9813 8.0708C7.88011 9.17726 9.00168 10.0822 10.2731 10.7268C11.5446 11.3714 12.9374 11.7413 14.3612 11.8123C13.8552 9.3792 15.6728 7.41016 17.8578 7.41016C18.889 7.41016 19.8171 7.84199 20.4713 8.53809C21.2802 8.38662 22.0537 8.08369 22.7433 7.67764C22.4758 8.50586 21.9151 9.20518 21.1707 9.64668C21.8925 9.56934 22.5886 9.36953 23.2332 9.08916C22.7465 9.80459 22.1375 10.4395 21.4381 10.9454Z"
                                        fill="#ffffff" />
                                </svg>
                            </div>
                        </div>

                    </class>

                </div>
            </div>
        </div>

    </header>


    <!--  /*****************************************
    FIN HEADER BAR NAV
    *****************************************/ -->

    <main>


        <!--  /*****************************************
        DEBUT MAIN
        *****************************************/ -->




        <!--  /*****************************************
        SECTION CONSEILS 4
        *****************************************/ -->

        <section class="section activites-conseils">
            <div class="container">


                <div class="row voyage-profil">

                    <div class="col-11-offset-1 col-lg-8">
                        <h2 class="gold-line-right titre-left"><span>À propos</span></h2>
                    </div>


                    <div class="col-12 col-lg-6">
                        {# <img src="style/images/BaptèmeAir.jpg" class="img-cover-fluid" alt="image matos"> #}

                    </div>

                    <div class="col-12 col-lg-6">

                        <div class="col-10-offset-1 col-lg-11 offset-1">

                            <h4>Le Vol de Découverte</h4>
                        </div>

                        <div class="col-10-offset-1 col-lg-11 offset-1">

                            <p>Les Vols de Découverte ont lieu d’avril à Novembre. Durée:
                                1 à 2 heures de vol effectif. Durée totale de la sortie: environ 5 heures.

                            <p> Lors des Vols de Découverte, on découvre que La Turquie est composé d’une grande
                                richesse et
                                variété de paysages, allant de la grande région des Montagnes, des vallées parcourues
                                par
                                les rivières, les déserts, le vignoble et enfin la plaine.</p>


                            <p> Ces paysages sont constellés d’un grand nombre de petits villages typiques et
                                traditionnels
                                ainsi que de nombreux monuments et architectures. Ces paysages sont changeant, au gré
                                des
                                saisons et de la luminosité. </p>

                            <p> La région d’Antalya constitue un terrain de jeu idéal pour un vol en montgolfière afin
                                d’y
                                faire de belles découvertes et de rencontres riches en émotion.</p>

                        </div>

                    </div>


                    <div class="col-11-offset-1 col-lg-8">
                        <h2 class="gold-line-right titre-left"><span>Mes conseils</span></h2>
                    </div>


                    <div class="col-12 col-lg-6">

                        <h4>Une expérience inédite</h4>

                        <p class="col-10-offset-1 col-lg-11"> Après un briefing et le gonflage du ballon auquel vous
                            êtes invités à participer, c’est l’heure de s’envoler. </p>

                        <p> Nous volons à différentes altitudes en fonction des paysages, des conditions de vent, des
                            belles opportunités qui ne manqueront pas de se présenter. Les montgolfières n’étant pas
                            dirigeables, chaque vol est véritablement unique.</p>

                        <p> Au retour sur terre, c’est le moment du partage des émotions. Petit déjeuner ou collation
                            pour clôturer tous les vols : Mezzes, Dolma avec un café turc et remise du certificat de
                            baptême de l’air personnalisé selon les traditions de l’aérostation ! </p>

                    </div>





                    <div class="col-12 col-lg-6">
                        <img src="style/images/Montgolfièreconseils.jpg" class="img-cover-fluid" alt="image matos">

                    </div>



                </div>

        </section>

        <!--  /*****************************************
    SECTION RENSEIGNEMENTS
    *****************************************/ -->

        <section class="section">
            <div class="container">


                <div class="row">

                    <div class="col-11-offset-1 col-lg-8">
                        <h2 class="gold-line-right titre-left"><span>Renseignements</span></h2>
                    </div>


                    <div class="col-12 col-lg-6">


                        <h4 class="col-10-offset-1 col-lg-11"> Quelques renseignements concernant <br>
                            l’activité du
                            baptème de l’air en Montgolfière.<h4>



                                <img src="style/images/Montgolfièrerecco.jpg" class="col-sm-12 col-lg-11 " alt="image matos">

                    </div>


                    <div class="col-12 col-lg-6 group-pastille">
                        <!-- PASTILLE -->

                        <div class="row">

                            <div class="offset-2 offset-sm-0 col-8 col-sm-6 col-md-4">
                                <h3>Prix</h3>
                                <p>~ 200€</p>

                                <svg width="90" height="90" viewBox="0 0 120 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="58.75" fill="white" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path
                                        d="M60.7792 37.4026C47.8699 37.4026 37.4026 47.8699 37.4026 60.7792C37.4026 73.6885 47.8699 84.1558 60.7792 84.1558C73.6885 84.1558 84.1558 73.6885 84.1558 60.7792C84.1558 47.8699 73.6885 37.4026 60.7792 37.4026ZM60.7792 80.1902C50.0614 80.1902 41.3683 71.497 41.3683 60.7792C41.3683 50.0614 50.0614 41.3683 60.7792 41.3683C71.497 41.3683 80.1902 50.0614 80.1902 60.7792C80.1902 71.497 71.497 80.1902 60.7792 80.1902ZM66.9208 49.477C66.0911 49.2944 65.1258 49.1953 64.0352 49.1953C58.4676 49.1953 54.7002 52.1017 53.6723 57.017H52.013C51.7834 57.017 51.5955 57.2049 51.5955 57.4345V58.8538C51.5955 59.0834 51.7834 59.2712 52.013 59.2712H53.3905C53.3749 59.4851 53.3749 59.7095 53.3749 59.9391V61.8646H52.013C51.7834 61.8646 51.5955 62.0524 51.5955 62.282V63.7013C51.5955 63.9309 51.7834 64.1187 52.013 64.1187H53.5888C54.4863 69.295 58.3059 72.3632 64.0352 72.3632C65.1258 72.3632 66.0911 72.2745 66.9208 72.097C67.1139 72.0553 67.2547 71.8883 67.2547 71.69V69.4567C67.2547 69.1958 67.0147 68.9976 66.759 69.0497C65.992 69.1958 65.0945 69.2637 64.0561 69.2637C60.4818 69.2637 58.0815 67.3539 57.2832 64.1187H64.0979C64.3274 64.1187 64.5153 63.9309 64.5153 63.7013V62.282C64.5153 62.0524 64.3274 61.8646 64.0979 61.8646H56.9805V59.9861C56.9805 59.7408 56.9805 59.4956 56.9962 59.266H64.0874C64.317 59.266 64.5049 59.0781 64.5049 58.8486V57.4293C64.5049 57.1997 64.317 57.0118 64.0874 57.0118H57.3927C58.2902 54.0428 60.6435 52.2948 64.0509 52.2948C65.0893 52.2948 65.9868 52.373 66.7486 52.5243C66.8091 52.5367 66.8716 52.5355 66.9315 52.5208C66.9915 52.5061 67.0474 52.4782 67.0953 52.4393C67.1432 52.4004 67.1819 52.3513 67.2086 52.2956C67.2352 52.24 67.2492 52.1791 67.2495 52.1173V49.884C67.2495 49.6858 67.1139 49.5188 66.9208 49.477Z"
                                        fill="black" />
                                </svg>

                            </div>

                            <div class="offset-2 offset-sm-0 col-8 col-sm-6 col-md-4">
                                <h3>Horaire</h3>
                                <p>9h - 16h</p>

                                <svg width="90" height="90" viewBox="0 0 120 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="58.75" fill="white" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path
                                        d="M60.7792 37.4026C73.6897 37.4026 84.1558 47.8687 84.1558 60.7792C84.1558 73.6897 73.6897 84.1558 60.7792 84.1558C47.8687 84.1558 37.4026 73.6897 37.4026 60.7792C37.4026 47.8687 47.8687 37.4026 60.7792 37.4026ZM60.7792 42.0779C50.4508 42.0779 42.0779 50.4508 42.0779 60.7792C42.0779 71.1077 50.4508 79.4805 60.7792 79.4805C71.1077 79.4805 79.4805 71.1077 79.4805 60.7792C79.4805 50.4508 71.1077 42.0779 60.7792 42.0779ZM60.7792 46.7532C61.9781 46.7532 62.9661 47.6557 63.1012 48.8183L63.1169 49.0909V59.811L69.4452 66.1392C70.358 67.0521 70.358 68.5323 69.4452 69.4452C68.6025 70.2878 67.2765 70.3526 66.3595 69.6396L66.1392 69.4452L59.1263 62.4322C58.761 62.0669 58.529 61.5931 58.4618 61.0865L58.4415 60.7792V49.0909C58.4415 47.7999 59.4881 46.7532 60.7792 46.7532Z"
                                        fill="black" />
                                </svg>

                            </div>

                            <div class="offset-2 offset-sm-0 col-8 col-sm-6 col-md-4">
                                <h3>Localisation</h3>
                                <p>Antalya - Turquie</p>

                                <svg width="90" height="90" viewBox="0 0 120 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="58.75" fill="white" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path
                                        d="M32.7273 52.2078H79.4805M49.0909 38.1818V42.8571M60.7792 35.8441V42.8571M72.4676 38.1818V42.8571M77.1429 70.909V52.2078H44.4156V70.909C44.4156 72.769 45.1545 74.5528 46.4697 75.868C47.7849 77.1832 49.5686 77.922 51.4286 77.922H70.1299C71.9899 77.922 73.7736 77.1832 75.0888 75.868C76.404 74.5528 77.1429 72.769 77.1429 70.909Z"
                                        stroke="black" stroke-width="4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>


                            </div>




                            <div class="offset-2 offset-sm-12 col-8 col-sm-6 col-md-4">
                                <h3>Réservation</h3>
                                <p>Oui</p>

                                <svg width="90" height="90" viewBox="0 0 120 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="58.75" fill="white" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M62.4193 32.111C64.06 30.1421 67.2586 31.488 66.9979 34.0376L65.1658 51.9513H79.9956C82.1972 51.9513 83.4001 54.5192 81.9905 56.2105L56.022 87.3727C54.3813 89.3416 51.1829 87.9957 51.4436 85.4461L53.2757 67.5325H38.4459C36.2442 67.5325 35.0415 64.9645 36.451 63.2732L62.4193 32.111ZM43.9903 62.3388H57.8772C58.4927 62.3388 58.9733 62.8709 58.9107 63.483L57.4755 77.5159L74.4511 57.1452H60.5642C59.9487 57.1452 59.468 56.6128 59.5309 56.0007L60.9659 41.968L43.9903 62.3388Z"
                                        fill="black" />
                                </svg>

                            </div>


                            <div class="offset-2 offset-sm-0 col-8 col-sm-6 col-md-4">
                                <h3>Ambiance</h3>
                                <p>Familiale</p>
                                <svg width="90" height="90" viewBox="0 0 121 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60.5" cy="60" r="58.75" fill="white" />
                                    <circle cx="60.5" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60.5" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M45.247 38.0904C45.7948 37.1733 47.1534 37.1733 47.7011 38.0904L50.8761 43.4069L57.0418 44.709C58.1054 44.9337 58.5252 46.1938 57.8001 46.9853L53.5968 51.5731L54.2323 57.6943C54.3419 58.7503 53.2428 59.5291 52.2469 59.1011L46.4741 56.6201L40.7012 59.1011C39.7053 59.5291 38.6062 58.7503 38.7159 57.6943L39.3513 51.5731L35.148 46.9853C34.4229 46.1938 34.8427 44.9337 35.9064 44.709L42.072 43.4069L45.247 38.0904ZM46.4741 40.4384L43.8462 44.8385C43.6456 45.1745 43.3094 45.4127 42.9198 45.495L37.8168 46.5727L41.2957 50.3699C41.5613 50.6597 41.6897 51.0452 41.6496 51.432L41.1236 56.4981L45.9014 54.4448C46.2663 54.288 46.6819 54.288 47.0466 54.4448L51.8245 56.4981L51.2986 51.432C51.2584 51.0452 51.3869 50.6597 51.6524 50.3699L55.1313 46.5727L50.0283 45.495C49.6387 45.4127 49.3026 45.1745 49.1018 44.8385L46.4741 40.4384Z"
                                        fill="black" stroke="black" stroke-width="0.5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M74.8573 38.0904C75.4051 37.1733 76.7637 37.1733 77.3114 38.0904L80.4865 43.4069L86.6521 44.709C87.7157 44.9337 88.1356 46.1938 87.4105 46.9853L83.2071 51.5731L83.8426 57.6943C83.9522 58.7503 82.8532 59.5291 81.8573 59.1011L76.0844 56.6201L70.3116 59.1011C69.3157 59.5291 68.2166 58.7503 68.3262 57.6943L68.9617 51.5731L64.7584 46.9853C64.0333 46.1938 64.4531 44.9337 65.5167 44.709L71.6823 43.4069L74.8573 38.0904ZM76.0844 40.4384L73.4566 44.8385C73.256 45.1745 72.9197 45.4127 72.5301 45.495L67.4272 46.5727L70.906 50.3699C71.1716 50.6597 71.3001 51.0452 71.2599 51.432L70.734 56.4981L75.5118 54.4448C75.8767 54.288 76.2922 54.288 76.657 54.4448L81.4349 56.4981L80.9089 51.432C80.8687 51.0452 80.9972 50.6597 81.2628 50.3699L84.7416 46.5727L79.6387 45.495C79.249 45.4127 78.9129 45.1745 78.7122 44.8385L76.0844 40.4384Z"
                                        fill="black" stroke="black" stroke-width="0.5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M59.2729 59.9087C59.8206 58.9915 61.1793 58.9915 61.7269 59.9087L64.902 65.2251L71.0676 66.5273C72.1313 66.7519 72.5511 68.012 71.826 68.8035L67.6227 73.3914L68.2581 79.5126C68.3678 80.5685 67.2687 81.3474 66.2728 80.9194L60.5 78.4384L54.7271 80.9194C53.7312 81.3474 52.6321 80.5685 52.7417 79.5126L53.3772 73.3914L49.1739 68.8035C48.4488 68.012 48.8686 66.7519 49.9322 66.5273L56.0979 65.2251L59.2729 59.9087ZM60.5 62.2566L57.8721 66.6567C57.6715 66.9927 57.3353 67.231 56.9456 67.3132L51.8427 68.3909L55.3215 72.1881C55.5872 72.4779 55.7156 72.8635 55.6754 73.2502L55.1495 78.3164L59.9273 76.263C60.2922 76.1063 60.7077 76.1063 61.0725 76.263L65.8504 78.3164L65.3245 73.2502C65.2843 72.8635 65.4127 72.4779 65.6783 72.1881L69.1572 68.3909L64.0542 67.3132C63.6646 67.231 63.3284 66.9927 63.1277 66.6567L60.5 62.2566Z"
                                        fill="black" stroke="black" stroke-width="0.5" />
                                </svg>

                            </div>



                        </div>


                    </div>

                </div>
            </div>

        </section>


        <!--  /*****************************************
    SECTION PROFILS
    *****************************************/ -->



        <section id="recommandation">
            <div class="container">


                <div class="col-11-offset-1 col-lg-8">
                    <h2 class="gold-line-right titre-left"><span>Recommandé par</span></h2>
                </div>

                <div class="row">

                    <div class="col-6 col-lg-3">
                        <div class="card2">
                            <div class="zoom-effect">
                                <img src="style/images/Billy.jpg" class="card-img-top" alt="image Christina Paredes">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Billy Bob</h5>
                                </p>
                                <a href="profil.html" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card2">
                            <div class="zoom-effect">
                                <img src="style/images/Jessica.jpg" class="card-img-top" alt="image">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Jessica Parker</h5>
                                </p><a href="profil.html" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-6 col-lg-3">
                        <div class="card2">
                            <div class="zoom-effect">
                                <img src="style/images/Robin.jpg" class="card-img-top" alt="image Christina Paredes">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Robin Cliff</h5>
                                </p>
                                <a href="profil.html" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="card2">
                            <div class="zoom-effect">
                                <img src="style/images/Christina.jpg" class="card-img-top" alt="image Christina Paredes">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Christina Paredes</h5>
                                </p><a href="profil.html" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>



        </section>


        </div>




        <section class="section section-maps">

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-12">
                        <div class="text-section-center">
                            <h2 class="gold-line-left gold-line-right"><span>Voir sur la maps</span></h2>
                        </div>
                    </div>
                </div>
            </div>


            <div id="maps">
                <iframe class="maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20988.19935616296!2d2.358199188967246!3d48.8863325637333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b42c5006109d99%3A0xd53e4e155f0f81a3!2sFrance%20Vacances!5e0!3m2!1sfr!2sfr!4v1639489085503!5m2!1sfr!2sfr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </section>







    </main>


</body>



{% endblock %}